.*
!.Xdefaults
!.bash_logout
!.bash_profile
!.bashrc
!.gitattributes
!.gitconfig
!.gitignore
!.kshrc
!.profile
!.screenrc
!.tmux.conf
!.uncrustify.cfg
!.vimrc
!.vscode
!.wgetrc
!.xinitrc
!.zprofile
!.zshrc
!LICENSE
!README.md